# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Jupyter
.ipynb_checkpoints/

# Environments
.env
.venv/
env/
venv/
*.env

# OS files
.DS_Store
Thumbs.db

# Data (ignore raw data, keep placeholders)
data/*
!data/README.md
